<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body class="bg-secondary-subtle">
     <div class="container border border-rounded position-absolute top-50 start-50 translate-middle  bg-body shadow-lg" style="width: 400px;height: 500px">
       <div class="alert  mt-2">
          {%for value,erors in regist.errors.items()%}
         {%for eror in erors%}
            {{eror}}
         {%endfor%}
     {%endfor%}
     </div>
    <form method="post" enctype="multipart/form-data">
        {{regist.hidden_tag()}}
        <div class="form-floating">
            {{regist.username(class="mt-3",style="width:300px",placeholder=regist.username.label.text)}}
        </div>
        <div class="form-floating">
            {{regist.password(class="mt-3",style="width:300px",placeholder=regist.password.label.text)}}
        </div>
        <div class="form-floating">
             {{regist.repeat_password(class=" mt-3",style="width:300px",placeholder=regist.repeat_password.label.text)}}
        </div>
        <div class="form-floating">
            {{regist.birthday(class="mt-3",style="width:300px",placeholder=regist.birthday.label.text)}}
        </div>
        <div class="form-floating ">
            {{regist.gender( class="mt-3",style="width:300px",placeholder=regist.gender.label.text)}}
        </div>
        <div class="form-floating">
            {{regist.country(class="form-select mt-3",style="width:300px",placeholder=regist.country.label.text)}}
        </div>

            {{regist.submit(class="btn btn-danger mt-3")}}

    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</html>
